@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

select {
  background-image: url("/src/assets/icons/arrow-dropdown.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}

#side-bar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
